@charset "UTF-8";

#info-top {
  width: 500px;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}
#reset {
  margin: 0 auto;
  padding: 8px 16px;
  margin: 8px;
  border: 2px solid black;
  background-color: whitesmoke;
  border-radius: 16px;
  font-size: 1.2em;
  font-weight: 700;
  transition-duration: 0.4s;
  cursor: pointer;
}
#reset:hover {
  background-color: blue;
  color: white;
  border: 2px solid rgb(0, 0, 224);
}
.div-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  height: 450px;
  width: 450px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.div-out {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 32%;
  border-radius: 10px;
  background-color: whitesmoke;
}
.div-in {
  display: inline-block;
  width: 145px;
  height: 145px;
  background-color: black;
  border-radius: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.div-in:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.5);
}
.winner {
  background-color: rgb(2, 233, 2);
}
.winner:hover {
  background-color: rgb(2, 233, 2);
}
.elemento {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-weight: bold;
  font-size: 8em;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 0px;
}
#div-btt-start {
  text-align: center;
}
@media (max-width: 600px) {
  #info-top {
    width: 360px;
    flex-wrap: wrap;
    gap: 8px;
  }
  .elemento {
    font-size: 6em;
  }
  .div-main {
    height: 360px;
    width: 360px;
  }
  .div-in {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 400px) {
  .elemento {
    font-size: 5em;
  }
  .div-main {
    height: 300px;
    width: 300px;
  }
  .div-in {
    width: 90px;
    height: 90px;
  }
}
